<!DOCTYPE html>
<html>
  <head>
    <button onclick="window.location.href='/'" type="button">Volver</button>
    <title>Perfiles de Usuarios</title>
    <style>
      /* Estilos para los cuadrados de los usuarios */
      .tarjeta {
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;
        height: 400px;
        background-color: rgb(78, 214, 169);
        border-radius: 20px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
      }

      .h1 {
        align-self: center;
      }

      .tarjeta:hover {
        transform: translateY(-10px);
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
      }

      .tarjeta img {
        width: 100%;
        height: 60%;
        object-fit: cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }

      .tarjeta h2 {
        margin: 10px;
        font-size: 24px;
        font-weight: bold;
        color: #333;
      }

      .tarjeta p {
        margin: 10px;
        font-size: 18px;
        color: #555;
      }

      /* Estilos para el mazo de tarjetas */
      .mazo {
        position: relative;
        height: 400px;
        margin: 0 auto;
        width: 300px;
        overflow: hidden;
        overflow-x: hidden; /* Agregado para ocultar contenido que se desborda horizontalmente */
      }

      /* Estilos para la transición al deslizar la tarjeta */
      .transicion {
        transition: transform 0.3s ease-in-out;
      }

      .desplazado {
        transform: translateX(100%);
      }
    </style>
  </head>
  <body>
    <h1>Perfiles de Usuarios</h1>
    <div class="mazo">
      <% usuarios.forEach(function(usuario) { %>
      <div class="tarjeta">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/tinderusm-68d24.appspot.com/o/fotosPerfiles%2Fdownload.jpg?alt=media&token=2cb68162-1d48-4b62-b71a-663afb1a91d3"
          alt="<%= usuario.nombre %>"
        />
        <h2><%= usuario.nombre %> <%= usuario.apellido %></h2>
        <p><%= usuario.edad %> 20 años <%= usuario.profesion %></p>
      </div>
      <% }); %>
    </div>
    <script>
      const tarjetas = document.querySelectorAll(".tarjeta");
      tarjetas.forEach(function (tarjeta) {
        tarjeta.addEventListener("click", function () {
          tarjeta.classList.add("transicion", "desplazado");
          setTimeout(function () {
            tarjeta.style.transform = "translateX(200%)";
          }, 300);
        });
      });
    </script>
  </body>
</html>
